---
layout: page
title: Abonnement
---
	<h3>Abonnement</h3>
	<section>
		<div class="row">
			<div class="8u 12u$(medium)">
				<p>
					Informatiebeveiliging is een continu proces. Daarom bied #Laatjehacken.nl het pentest abonnement aan. Een periodieke scan van je assets.  Volg daarbij live hoe je server wordt gehacked op <a href="https://app.laatjehacken.nl">app.laatjehacken.nl</a>. Er zijn 2 vormen abonnementen:
					<ul>
						<li>Standaard: voor geautomatiseerde scans uit op je systeem waarbij je altijd op de hoogte bent van de laatste kwetsbaarheden in je software.</li>
						<li>Uitgebreid: laat periodiek je systeem testen op programmeer- en configuratiefouten die de beveiliging van je gegevens in gevaar kunnen brengen.</li>
					</ul>
				</p>
				<p>Vul onderstaand formulier in voor meer informatie:</p>
				<form id="contact" method="post" action="https://formspree.io/info@laatjehacken.nl">

					<input type="hidden" name="type" value="abonnement" />

					<div class="row uniform">
						<div class="col-6">
							<input type="radio" checked="" id="subtype-standard" name="subtype" value="standaard">
							<label for="subtype-standard">Standaard</label>
						</div>
						<div class="col-6">
							<input type="radio" id="subtype-extra" name="subtype" value="extra">
							<label for="subtype-extra">Uitgebreid</label>
						</div>
						<div class="12u$">
							<div class="select-wrapper">
								<select name="periode" id="Periode"">
									<option value="">- Periode -</option>
									<option value="applicatie">maand</option>
									<option value="server">kwartaal</option>
									<option value="netwerk">half jaar</option>
									<option value="overig">jaar</option>
								</select>
							</div>
						</div>
						<div class="12u$">
							<div class="select-wrapper">
								<select name="categorie" id="categorie"">
									<option value="">- Categorie -</option>
									<option value="applicatie">Applicatie</option>
									<option value="server">Server</option>
									<option value="netwerk">Netwerk</option>
									<option value="overig">Overig</option>
								</select>
							</div>
						</div>
						<div class="12u">
							<input type="text" name="omschrijving" id="omschrijving" value="" placeholder="Omschrijving" />
						</div>


						<div class="6u 12u$(xsmall)">
							<input type="text" name="naam" id="naam" value="" placeholder="Naam" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="email" name="email" id="email" value="" placeholder="Email" />
						</div>
						<div class="6u 12u$(xsmall)">
							<input type="text" name="bedrijfsnaam" id="bedrijfsnaam" value="" placeholder="Bedrijfsnaam" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="text" name="telefoonnummer" id="telefoonnummer" value="" placeholder="Telefoonnummer" />
						</div>
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Verzenden" class="special" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="1u 12u$(medium)"><br /></div>
			<div class="3u 12u$(medium)">
				<p>
					<strong>Contact</strong><br />
					<a href="mailto:info@laatjehacken.nl">info@laatjehacken.nl</a><br />
				</p>
			</div>

		</div>
	</section>
