---
layout: page
title: Code Review
---
	<h3>Code Review</h3>
	<section>
		<div class="row">
			<div class="8u 12u$(medium)">
				#Laatjehacken.nl verzorgt code reviews van de volgende programmeertalen:
				<ul>
					<li>C#</li>
					<li>Java</li>
					<li>Python</li>
					<li>Javascript (Node)</li>
					<li>PHP</li>
					<li>Go</li>
					<li>Rust</li>
					<li>Ruby</li>
				</ul>
			</div>
			<div class="1u 12u$(medium)"><br /></div>
			<div class="3u 12u$(medium)">
				<p>
					<strong>Contact</strong><br />
					<a href="mailto:info@laatjehacken.nl">info@laatjehacken.nl</a><br />
				</p>
			</div>
		</div>
	</section>
	<br />

	<section>
		<h4>Vraag direct een offerte aan</h4>
		<form id="contact" method="post" action="https://formspree.io/info@laatjehacken.nl">

			<input type="hidden" name="type" value="pentest" />

			<div class="row uniform">
				<div class="6u 12u$(xsmall)">
					<input type="text" name="naam" id="naam" value="" placeholder="Naam" />
				</div>
				<div class="6u$ 12u$(xsmall)">
					<input type="email" name="email" id="email" value="" placeholder="Email" />
				</div>
				<div class="6u 12u$(xsmall)">
					<input type="text" name="bedrijfsnaam" id="bedrijfsnaam" value="" placeholder="Bedrijfsnaam" />
				</div>
				<div class="6u$ 12u$(xsmall)">
					<input type="text" name="telefoonnummer" id="telefoonnummer" value="" placeholder="Telefoonnummer" />
				</div>
				<div class="12u$">
					<div class="select-wrapper">
						<select name="categorie" id="categorie"">
							<option value="">- Categorie -</option>
							<option value="applicatie">Applicatie</option>
							<option value="server">Server</option>
							<option value="netwerk">Netwerk</option>
							<option value="overig">Overig</option>
						</select>
					</div>
				</div>
				<div class="12u$">
					<textarea name="bericht" id="bericht" placeholder="Bericht" rows="6"></textarea>
				</div>
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Verzenden" class="special" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</div>
			</div>
		</form>
	</section>
