---
layout: page
title: Contact
---
	<h3>Contact</h3>
	<section>
		<div class="row">
			<div class="8u 12u$(medium)">
				<form id="contact" method="post" action="https://formspree.io/info@laatjehacken.nl">

					<input type="hidden" name="type" value="contact" />

					<div class="row uniform">
						<div class="12u">
							<textarea name="bericht" id="bericht" value="" rows="4" placeholder="Bericht"></textarea>
						</div>


						<div class="6u 12u$(xsmall)">
							<input type="text" name="naam" id="naam" value="" placeholder="Naam" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="email" name="email" id="email" value="" placeholder="Email" />
						</div>
						<div class="6u 12u$(xsmall)">
							<input type="text" name="bedrijfsnaam" id="bedrijfsnaam" value="" placeholder="Bedrijfsnaam" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="text" name="telefoonnummer" id="telefoonnummer" value="" placeholder="Telefoonnummer" />
						</div>
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Verzenden" class="special" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="1u 12u$(medium)"><br /></div>
			<div class="3u 12u$(medium)">
				<p>
					<a href="mailto:info@laatjehacken.nl">info@laatjehacken.nl</a><br />
				</p>
			</div>

		</div>
	</section>

	<section>

	</section>
