---
layout: page
title: Hacker
---

<section class="test-features">
  <div class="row">
    <div class="6u 12u$(medium)">
      <div class="test-features_intro">
        <h3>#LAATJEHACKEN.NL</h3>
        <h1 class="test-features_intro_title">Test en verbeter je veiligheid, huur een hacker</h1>
        <p class="test-features_intro_description">Laat je telefoonnummer achter en krijg <br /> een gratis consult van een hacker</p>
        <div class="test-features_intro_list">
          <div class="row">
            <div class="6u 12u$(small)">
              <p class="features-text">Direct aan de slag met een hacker</p>
            </div>
            <div class="6u 12u$(small)">
              <p class="features-text">Technisch expert én communicatief vaardig</p>
            </div>
            <div class="6u 12u$(small)">
              <p class="features-text">+10 jaar ontwikkelaar ervaring</p>
            </div>
            <div class="6u 12u$(small)">
              <p class="features-text">Professionals met passie, dit is meer dan werk</p>
            </div>
          </div>
        </div>
        <form class="test-features_intro_form" id="" method="post" action="https://formspree.io/info@laatjehacken.nl">
          <input type="hidden" name="type" value="phone-number">
          <div class="row uniform">
            <div class="8u 12u$(xsmall)">
              <input type="text" name="phone-number" id="phone-number" value="" placeholder="">
            </div>
            <div class="4u 12u$(xsmall)">
              <input type="submit" value="Bel me terug" class="special">
            </div>
          </div>
        </form>
        <a href="mailto:info@laatjehacken.nl">info@laatjehacken.nl</a>
      </div>
    </div>

    <div class="1u 12u$(medium)"><br /></div>

    <div class="5u 12u$(medium)">
      <div class="test-features_info">
        <div class="test-features_info_item">
          <h4>PENTEST<span>01</span></h4>
          <p class="features-text">Wees op de hoogte van de huidige beveiliging van je applicatie of netwerk door een pentest te laten uitvoeren.</p>
        </div>
        <div class="test-features_info_item">
          <h4>PREVENTIE<span>02</span></h4>
          <p class="features-text">Monitor netwerkverkeer en security events om hackers te detecteren wanneer ze toch zijn binnengedrongen.</p>
        </div>
        <div class="test-features_info_item">
          <h4>VULNERABILITY ASSESSMENT<span>03</span></h4>
          <p class="features-text">Beheers de cyberrisico's binnen je bedrijf door altijd op de hoogte te zijn van je huidige kwetsbaarheden.</p>
        </div>
      </div>
    </div>
  </div>
</section>
