---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>#Laatjehacken.nl</h2>
							{{ site.description | markdownify }}
							<ul class="actions">
								<li><a href="/contact" class="button small scrolly">Vraag een offerte aan</a></li>
								<li><a href="/pentest" class="button scrolly">Meer informatie</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly"></a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Durf je het aan?</h2>
								<p>Heb je een applicatie, website, server, of netwerk?<br />
									Ben je benieuwd hoe veilig dit is en hoe makkelijk hackers binnen kunnen komen?<br />
								  Laat je beveiliging testen en leer hoe je hackers voor kunt zijn.</p>
								<p>Mail naar <a href="mailto:info@laatjehacken.nl">info@laatjehacken.nl</a></p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-laptop major style1"><span class="label"></span></span></li>
								<li><span class="icon fa-hdd-o major style2"><span class="label"></span></span></li>
								<li><span class="icon fa-code major style3"><span class="label"></span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2><a href="/pentest">Pentest</a></h2>
								<p>Wees op de hoogte van de huidige beveiliging van je applicatie of netwerk door een pentest te laten uitvoeren.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2><a href="/pentest">Vulnerability assessment</a></h2>
								<p>Beheers de cyberrisico's binnen je bedrijf door altijd op de hoogte te zijn van je huidige kwetsbaarheden.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2><a href="/pentest">Preventie</a></h2>
								<p>Monitor netwerkverkeer en security events om hackers te detecteren wanneer ze toch zijn binnengedrongen.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Laat je hacken!</h2>
								<p>Maak kennis met de unieke #Laatjehacken.nl formule:</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Leer het zelf!</h3>
									<p>Bij #Laatjehacken.nl krijg je alle informatie die nodig is om zelf de hacks op je systeem uit te voeren. Op die manier leer je hoe een hacker te werk gaat, en kun je zelf testen of de kwetsbaarheden zijn opgelost.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Uniek platform</h3>
									<p>Het unieke #Laatjehacken.nl platform geeft volledig inzicht in het pentest proces. Kijk mee terwijl je website wordt gehackt en los direct kritieke issues op. Deze kun je direct laten hertesten.</p>
								</li>
								<li class="icon fa-code">
									<h3>Professionele rapportage</h3>
									<p>Bij elke pentest ontvang je een professioneel rapport waarin de status van beveiliging staat beschreven. In dit rapport staat op meerdere niveaus advies om de applicatie beter te beveiligen.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>DevOps integratie</h3>
									<p>Het #Laatjehacken.nl platform past naadloos in elk Agile DevOps proces. Ontdek hoe de SaaS oplossing dynamisch met je IT team meewerkt op <a href="https://app.laatjehacken.nl">app.laatjehacken.nl</a></p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h3>Vraag direct een offerte aan</h3>
								<p>We nemen spoedig contact met je op en je ontvangt van ons een passende offerte.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="contact" class="button fit special">Contact</a></li>
								<li><a href="#" class="button fit">Info</a></li>
							</ul>
						</div>
					</section>
