<!-- Header -->
<header id="header" class="alt">
  <h1><a href="{{ site.baseurl }}/index.html">#Laatjehacken.nl</a></h1>
  <a href="{{ site.baseurl }}/index.html" class="header-logo">
    <img src="{{ site.baseurl }}/images/logo-white.svg" alt="logo" />
  </a>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            {% comment %}
              {% for my_page in site.pages %}
              {% if my_page.title %}
              <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
              {% endif %}
              {% endfor %}
            {% endcomment %}

            <li><a href="index.html">Home</a></li>
            <li><a href="/pentest.html">Pentest</a></li>
            <li><a href="/codereview.html">Code Review</a></li>
            <li><a href="/platform.html">Platform</a></li>
            <li><a href="/abonnement.html">Abonnement</a></li>
            <li><a href="/demos.html">Demo's</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
